body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(4, 4, 194);
  padding: 5%;
  color: blanchedalmond;
}
a:link {
  color: yellow;
}
a:visited {
  color: yellow;
}
a:hover {
  color: yellowgreen;
}
